@import "vars";
@import "global";
.header{
  background: url(../img/main-bg.jpg) no-repeat center top / cover ;
  padding-top: 30px;
  height: 100vh;
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__box{
    display: flex;
  }
  &__menu{
    margin-right: 60px;
  }
  &__icons{
    display: flex;
    align-items: center;
  }
  &__icon{
    margin-right: 28px;
    height: 24px;
    transition: .3s;
    svg{
      transition: .3s;
    }
    &:hover{
      svg{
        fill: #baa690;
      }
    }
    & :last-child{
      margin-right: 0;
    }
  }
  &__slider{
    margin-top: 160px;
    height: 60vh;
    .slick-arrow{
      background: none;
      border: none;
      position: absolute;
      top: 20%;
      z-index: 2;
      cursor: pointer;
      z-index: 20;
    }
    .header__slider-prev{
      left: 50px;
    }
    .header__slider-next{
      right: 50px;
    }
    .header__slider-btn{
      display: flex;
      justify-content: center;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      .slick-active{
        button{
          background: transparent;
          border: 2px solid #cfbeaa;
          width: 12px;
          height: 12px;
        }
      }
      button{
        font-size: 0;
        border: 2px solid transparent;
        background: #908f8e;
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 5px;
      }
    }
  }
}
.slider-item__info-suptitle{
  font-weight: 500;
  text-align: center;
  font-size: 36px;
  margin-bottom: 10px;
}
.slider-item__info-title{
  font-weight: 800;
  text-align: center;
  font-size: 52px;
  margin-bottom: 15px;
}
.slider-item__info-text{
  font-size: 15px;
  color: #ebebeb;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  text-align: center;
  max-width: 568px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.slider-item__info-btn{
  margin: 0 auto;
}
.menu{
  &__list{
    display: flex;
  }
  &__item{
        margin-right: 30px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__link{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition: .3s;
    &:hover{
      color: #baa690;
    }
  }
}


.inform{
  padding: 80px;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    &::after{
      content: '';
      width: 70px;
      height: 3px;
      background: #f1eee9;
      margin-top: 29px;
      transition: .3s;
    }
    &:hover{
      &::after{
        background: #c7b299;
      }
      .inform__item-title{
        color: #c7b299;
      }
    }
  }
  &__item-title{
    color: #555555;
    font-size: 22px;
    font-weight: 700;
    margin: 25px 0;
    transition: .3s;
  }
  &__text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #8c8c8c;
    font-size: 14px;
    text-align: center;
  }
}

.about{
  padding-top: 83px;
  background: #fbfaf8;
  &__paregraph{
    margin: 29px auto 41px;
  }
  &__imagines{
    position: relative;
    width: 100%;
    height: 484px;
  }
  &__img{
    position: absolute;
    bottom: 0;
  }
  &__imagines-left{
    left: 0;
  }
  &__imagines-center{
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  &__imagines-right{
    right: 0;
  }
}

.line{
  padding: 48px 0;
  background: linear-gradient(0.25turn, #211b19, #4e3427);
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 28px;
    span{
      color: #b29e88;
    }
  }
  &__paregraph{
    color: #615855;
    margin-top: 5px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
  }
}

.projects{
  padding: 80px 0;
  &__paregraph{
    margin: 22px auto 0;
  }
  &__filter{
    margin: 40px 0;
  }
  &__filter-list{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__filter-item{
    margin-right: 10px;
    &:last-child{
      margin-right: 0;
    }
  }
  &__filter-link{
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: #8c8c8c;
    font-size: 14px;
    border: 1px solid #ebebeb;
    padding: 9px 15px;
    border-radius: 3px;
    &._active{
      background: #998675;
      color: #fff;
    }
  }
  &__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -30px;
  }
  &__item{
    width: 370px;
    height: 337px;
    background: #fbfaf8;
    transition: .3s;
    margin-top: 30px;
    &:hover{
      background: #362f2d;
      z-index: 3;
      .projects__item-img{
        &::before{
          opacity: .7;
        }
        &::after {
          border-bottom: 20px solid #362f2d;
       }
      }
      .projects__item-icons{
        svg{
          opacity: 1;
        }
      }
      .projects__item-name{
        color: #f2f1f1;
      }
      .projects__item-description{
        color: #c7b299;
      }
    }
  }
  &__item-img{
    background: url(../img/project1.jpg) no-repeat center top / cover ;
    height: 237px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background: #111;
      transition: .3s;
      opacity: 0;
    }
    &::after {
      content: '';
      position: absolute;
      left: 20px;
      bottom: 0;
      border: 20px solid transparent;
      border-bottom: 20px solid #fbfaf8;
      transition: .3s;
     }
  }
  &__item-icons{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 1000;

  }
  &__item-icons__link{
    svg{
      margin: 0 10px;
      opacity: 0;
      transition: .3s;
    }
    &:hover{
      svg{
        fill: #c7b299;
      }
    }
  }
  &__item-info{
    padding: 27px;
  }
  &__item-name{
    color: #c7b299;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 5px;
    transition: .3s;
  }
  &__item-description{
    font-family: 'Montserrat', sans-serif;
    color: #d1d1d1;
    font-size: 14px;
    transition: .3s;
  }
  &__btn{
    margin: 40px auto 0;
  }
}


.video{
  background: url(../img/video-bg.jpg) no-repeat center top / cover ;
  padding: 205px 0 200px;
  &__play{
    position: relative;
    width: 95px;
    height: 95px;
    padding: 10px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    img{
      position: absolute;
      z-index: 2;
    }
    &::after{
      content: '';
      background: rgba(#000, .2);
      width: 95px;
      height: 95px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: 1;
      transition: .3s;
    }
    &:hover{
      &::after{
        width: 75px;
        height: 75px;
      }
    }
  }
  &__title{
    color: #fff;
    font-weight: 400;
  }
  &__paregraph{
    margin: 23px auto 30px;
    color: #fff;
  }
  &__time{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #c7b299;
    display: block;
    text-align: center;
  }
}

.mobile{
  padding: 190px 0 ;
  &__container{
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  &__img{
    position: absolute;
    left: 0;
    bottom: -190px;
  }
  &__box{
    max-width: 660px;

  }
  &__title{
    text-align: left;
    margin-bottom: 30px;
  }
  &__paregraph{
    text-align: left;
  }
  &__list{
    margin-top: 40px;
    margin-left: 50px;
  }
  &__list-item{
    color: #8c8c8c;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 17px;
    &::before{
      content: '>';
      color: #fff;
      text-align: center;
      width: 20px;
      height: 20px;
      background: #c7b299;
      border-radius: 50%;
      display: inline-block;
      margin-right: 30px;
    }
  }
}

.statistics{
  background: linear-gradient(0.25turn, #211b19, #4e3427);
  padding: 60px 0;
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    text-align: center;
  }
  &__info{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    margin: 20px 0 10px;
  }
  &__name{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #c7b299;
    text-transform: uppercase;
    &::after{
      content: '';
      width: 30px;
      height: 2px;
      background: #fff;
      display: block;
      margin: 20px auto 0;
    }
  }
}

.posts{
  padding: 80px 0;
  &__paregraph{
    margin: 20px auto 0;
  }
  &__slider{
    margin-top: 40px;
  }
  &__item{
    height: 395px;
    width: 370px;
    // margin-right: 127px;
  }
  &__item-img{
    background: url(../img/post4.jpg) no-repeat center top / cover ;
    width: 100%;
    height: 220px;
    position: relative;
    &::after{
      transition: .3s;
      content: '';
      width: 100%;
      height: 100%;
    }
  }
  &__item-data{
    width: 50px;
    height: 60px;
    border-radius: 4px;
    overflow: hidden;
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 5;
  }
  &__item-number{
    display: block;
    width: 100%;
    height: 35px;
    background: #363636;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding-top: 3px;
    transition: .3s;
  }
  &__item-month{
    display: block;
    width: 100%;
    height: 25px;
    background: #252525;
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    transition: .3s;
  }
  &__item-text{
    border: 1px solid #f8f8f8;
    border-top: none;
    padding: 30px 28px;
    transition: .3s;
  }
  &__item-mame{
    font-size: 20px;
    color: #555555;
    font-weight: 400;
    margin-bottom: 22px;
    transition: .3s;
  }
  &__item-description{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #8c8c8c;
    font-weight: 300;
    text-align: left;
    margin-bottom: 25px;
    transition: .3s;
  }
  &__item-link{
    color: #c7b299;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
  }
  &__item:hover{
    .posts__item-img{
      &::after{
        background: rgba(#111, .7);
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    .posts__item-text{
      background: #362f2d;
    }
    .posts__item-mame{
      color: #c7b299;
    }
    .posts__item-description{
      color: #fff;
    }
    .posts__item-number{
      background: #c7b299;
    }
    .posts__item-month{
      background:#a48d72;
    }
  }
}

.brands{
  background: url(../img/photo-br.jpg) no-repeat center top / cover ;
  padding: 135px 0;
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer{
  background: #191919;
  padding: 80px 0;
  &__items{
    display: flex;
    justify-content: space-between;
  }
  &__item{
    width: 265px;
    li{
      &::after{
        content: '';
        width: 100%;
        height: 1px;
        background: #252525;
        display: block;
        margin: 20px 0;
        &:last-child{
          display: none;
        }
      }
      &._lite{
        .footer__item-time{
          color: #fff;
        }
        .footer__item-paregraph{
          color: #c7b299;
        }
      }
    }
  }
  &__item-1{
    .footer__item-paregraph{
      margin: 20px 0;
    }
    .footer__item-link{
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
    }
  }
  &__item-title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__item-paregraph{
    color: #555555;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    line-height: 20px;
  }
  &__item-time{
    font-size: 12px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #363636;
  }
}
